<mat-nav-list>
  <a target="_blank" [href]="socialLinks.LINKEDIN" mat-list-item rel="noopener">
    <span mat-line> <strong>Linkedin</strong> </span>
    <span mat-line>{{ socialLinks.LINKEDIN }}</span>
  </a>

  <a target="_blank" [href]="socialLinks.CV" mat-list-item rel="noopener">
    <span mat-line> <strong>CV</strong> </span>
    <span mat-line>{{ socialLinks.CV }}</span>
  </a>

  <a [href]="'mailto:' + socialLinks.EMAIL" mat-list-item rel="noopener">
    <span mat-line> <strong>Email</strong> </span>
    <span mat-line>{{ socialLinks.EMAIL }}</span>
  </a>
</mat-nav-list>
