<mat-nav-list>
  <a target="_blank" href="https://linkedin.com/in/mario-herrero-siles-2b326212b" mat-list-item rel="noopener">
    <span mat-line> <strong>Linkedin</strong> </span>
    <span mat-line>linkedin.com/in/mario-herrero-siles-2b326212b</span>
  </a>

  <a target="_blank" href="https://mario-herrero-siles.000webhostapp.com/cv/" mat-list-item rel="noopener">
    <span mat-line> <strong>CV</strong> </span>
    <span mat-line>mario-herrero-siles.000webhostapp.com/cv/ </span>
  </a>

  <a href="mailto:marioherrerosiles@gmail.com" mat-list-item rel="noopener">
    <span mat-line> <strong>Email</strong> </span>
    <span mat-line>marioherrerosiles@gmail.com</span>
  </a>
</mat-nav-list>
