.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: white !important;
}
a {
  color: white !important;
}
mat-toolbar-row {
  height: 32px;
}
.share-button {
  position: fixed;
  bottom: 60px;
  right: 15px;
  z-index: 10;
}
