<button color="" class="help-button" mat-fab (click)="openInfoBottomSheet()">
  <mat-icon>info</mat-icon>
</button>
<button color="" class="share-button" mat-fab (click)="openShareBottomSheet()">
  <mat-icon>share</mat-icon>
</button>
<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <span class="title"
      >Game developed by
      <strong>
        <a target="_blank" href="https://linkedin.com/in/mario-herrero-siles-2b326212b" rel="noopener"> Mario Herrero Siles </a>
      </strong>
    </span>
    <span class="spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="spacer"></span>
    <span class="title">Colors chosen by <strong> Ali & Carmen </strong> </span>
    &nbsp;
    <mat-icon>favorite</mat-icon>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
