<div class="d-flex">
  <div class="board-card placeholder-board">
    <div class="board-card__board-table">
      <div class="board-card__board-table__row" *ngFor="let row of placeholderBoard">
        <div
          *ngFor="let column of row"
          class="board-card__board-table__board-tile placeholder-board__empty"
          [style.backgroundColor]="'#ededed'"
        ></div>
      </div>
    </div>
  </div>

  <div *ngIf="!!board" class="board-card">
    <div class="board-card__board-table">
      <div class="board-card__board-table__row" *ngFor="let row of board.getTiles()">
        <div
          class="board-card__board-table__board-tile"
          [class]="!!column ? column.getAnimationClass() : ''"
          [ngClass]="{ 'board-card__board-table__board-tile__empty': column == null, 'new-tile': !!column && column.getIsNew() }"
          [style.backgroundColor]="!!column ? findColor(column.getValue()) : '#ededed'"
          *ngFor="let column of row"
        >
          <span *ngIf="!!column">{{ column.getValue() }}</span>
        </div>
      </div>
    </div>
  </div>
  <span class="spacer"></span>
</div>
